# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# IDE specific files
.idea/
.vscode/
*.code-workspace

# CLion specific files
cmake-build-*/

# Temporary files
*.tmp
*.log
*.swp
*.swo
*.bak
*.old

# Backup files
*.orig
*.rej
